modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 20806
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ENCRYPTION_KEY = "066719ceb6d90c1bbe7101da54382ed9d8655e8ca9ca621bb61c338fc74c7fbe"
ADMIN_API_TOKEN = "JEAgkQM6fJbfeQ-t2AZjDsL5Keq1TdBe"
